.header {
  padding: 2rem;
  text-align: center;
}

.headerTitle {
  font-size: 2.25rem;
  font-weight: 700;
  margin-bottom: 1rem;
  line-height: 1.2;
  text-wrap: balance;
}

.headerText {
  text-wrap: balance;
  opacity: 0.75;
}

.form{
  display: flex;
  flex-direction: column;
}

.formInput {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  color: var(--text-primary);
  padding: 0.75rem 0.5rem;
  font-size: 1rem;
  font-family: inherit;
  width: 25rem;
}

.formInput::placeholder {
  color: #64748b;
}

.searchbar{
  display: flex;
  align-items: center;
  background-color: rgba(30, 41, 59, 0.5);
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px var(--shadow);
  padding: 0.5rem;
  gap: 0.5rem;
}

.search__filters {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  padding: 0.8rem 0;
}