/* ALL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* PALETA / VARIABLES */
:root {
  --primary: #3b4550;
  --primary-dark: #0a3d66;
  --primary-hover: #0d5ba8;
  --primary-light: #09f;
  --background: #06182a;
  --text-primary: #ffffff;
  --text-secondary: #cbd5e1;
  --text-muted: #94a3b8;
  --border: rgba(255, 255, 255, 0.1);
  --card-bg: #1e293b;
  --shadow: rgba(0, 0, 0, 0.3);
  --input-bg: #1e293b;
  --main-font: 'Inter Variable';
}

/* FONTS */
@font-face {
  font-family: 'Inter Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/inter:vf@latest/latin-wght-normal.woff2)
    format('woff2-variations');
}

/* BODY */
body {
  font-family: var(--main-font);
  background-color: var(--background);
  color: var(--text-primary);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  line-height: 1.6;
}

select{
  padding: 0.625rem 1.25rem;
  background-color: #242d3a;
  border: 0;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  color: #ddd;
  cursor: pointer;
  transition: all 0.2s;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9' /%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0.5rem center;
  padding-right: 2.5rem;

  &:hover{
    background-color: var(--primary-hover);
    color: white;
  }

  &:focus{
    outline: 2px solid #1173d4;
    outline-offset: 2px;
  }
}

/* TITULOS */
h1 {
  font-size: 2.25rem;
  font-weight: 900;
  margin-bottom: 1rem;
  line-height: 1.2;
  text-wrap: balance;
}

h1 + p {
  text-wrap: balance;
  margin-bottom: 2rem;
}

/* HEADER */
.header {
  border-bottom: 1px solid var(--border);
  background: var(--background);
  padding: 1rem 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.header__logo-link {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  color: var(--text-primary);
}

.header__logo-text {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0;
}

.header__nav {
  align-items: center;
  gap: 1rem;
  display: flex;
}

.header__nav-link {
  text-decoration: none;
  color: var(--text-secondary);
  transition: color 0.2s;
  font-weight: 200;
}

.header__nav-link:hover,
.header__nav-link:focus {
  color: var(--primary-light);
  outline: none;
}

.header__actions a {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: #334155;
  color: var(--text-primary);
  display: inline-block;
  font-size: 0.875rem;
  font-weight: 700;
  text-decoration: none;
}

.header__actions a:first-child {
  background-color: var(--primary-dark);
  color: var(--primary-light);
  margin: 0 0.5rem;
}

/* HERO */
.hero {
  height: 500px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main > section:nth-child(1) > img,
.hero__image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  left: 0;
  right: 0;
  mask-image: linear-gradient(to bottom, rgba(16, 25, 34, 1) 5%, rgba(16, 25, 34, 0) 80%);
  -webkit-mask-image: linear-gradient(to bottom, rgba(16, 25, 34, 1) 5%, rgba(16, 25, 34, 0) 80%);
}


.hero__title {
  padding-top: 36px;
  font-size: 3rem;
}

.hero__subtitle {
  margin-bottom: 2rem;
}

.hero__form {
  display: flex;
  align-items: center;
  background-color: rgba(30, 41, 59, 0.5);
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px var(--shadow);
  padding: 0.5rem;
  gap: 0.5rem;
}

.hero__form-icon {
  padding-left: 0.75rem;
  color: var(--text-muted);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.hero__form-input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  color: var(--text-primary);
  padding: 0.75rem 0.5rem;
  font-size: 1rem;
  font-family: inherit;
  width: 25rem;
}

.hero__form-input::placeholder {
  color: #64748b;
}

.hero__form-button {
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  background-color: var(--primary);
  color: white;
  font-weight: 700;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
  font-family: inherit;
  font-size: 1rem;
  white-space: nowrap;
}

.hero__form-button:hover,
.hero__form-button:focus {
  background-color: var(--primary-hover);
  outline: 1px solid var(--text-muted);
  outline-offset: 2px;
}
.hero__form-button:disabled {
  opacity: .5;
  pointer-events: none;
}

/* FEATURES */
.features {
  padding-inline: 1rem;
  background-color: var(--background);
  padding-top: 2rem;
}

.features__header {
  gap: 2px;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.features__header-title {
  font-size: 1.875rem;
  font-weight: 700;
  color: var(--text-primary);
  margin-bottom: 1rem;
}

.features__header-text {
  opacity: 0.75;
  max-width: 75dvw;
  text-wrap: balance;
  text-align: center;
}

.features__grid {
  max-width: 1280px;
  margin: 1.5rem auto;
  border-top: 1px solid var(--border);
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 16px;
}

.features__card {
  background-color: var(--card-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
}

.features__card-icon {
  color: var(--primary-light);
  background: rgba(0, 153, 255, 0.3);
  width: 64px;
  height: 64px;
  border-radius: 100%;
  padding: 16px;
}

.features__card-title {
  font-weight: 500;
  margin-top: 1rem;
}

.features__card-text {
  color: var(--text-muted);
}

/* FOOTER */
.footer {
  background-color: var(--background);
  border-top: 1px solid var(--border);
  text-align: center;
  padding: 16px;
}

.footer__text {
  color: var(--text-muted);
  font-size: 0.875rem;
}



/* Container */
.container{
  margin: 0 20vw;
}



/* SEARCH PAGE */
.search__header {
  padding: 2rem;
  text-align: center;
}

.search__header-title {
  font-size: 2.25rem;
  font-weight: 700;
  margin-bottom: 1rem;
  line-height: 1.2;
  text-wrap: balance;
}

.search__header-text {
  text-wrap: balance;
  opacity: 0.75;
}

.search__form{
  display: flex;
  flex-direction: column;
}

.search__searchbar{
  display: flex;
  align-items: center;
  background-color: rgba(30, 41, 59, 0.5);
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px var(--shadow);
  padding: 0.5rem;
  gap: 0.5rem;
}

.search__filters {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  padding: 0.8rem 0;
}

.title__results{
  padding: 2rem 0;
}

.results {
  border: 1px solid var(--primary);
  border-radius: 1rem;
  margin-bottom: 2rem;
}

.results__item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  padding: 1.5rem;
  border-bottom: 1px solid var(--primary);
}
.results__item:last-child{
  border-bottom: none;
}

.results__item-title {
  font-size: 1.5rem;
  font-weight: 500;
  padding-bottom: 0.5rem;
}

.results__item-enlace{
  text-decoration: none;
  color: var(--text-primary);
  &:hover{
    text-decoration: underline;
    color: var(--primary-light);
  }
}

.results__item-company {
  opacity: 0.75;
}

.results__item-description {
  padding-top: 0.5rem;
}

.apply-button {
  background-color: var(--primary-light);
  color: var(--text-primary);
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
  border: none;
  cursor: pointer;
  height: 3rem;
}
.apply-button:hover {
  background-color: var(--primary-hover);
}

  .is-applied{
    background-color: #4caf50;
    &:hover{
      background-color: #44c848;
    }
  }

.pagination{
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding-bottom: 1rem;

  a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    text-decoration: none;
    color: var(--text-muted);
    font-size: 1rem;
    border-radius: .4rem;
    cursor: pointer;
    transition: all .3s ease;

    &:hover, &:focus{
      background-color: var(--primary-dark);
    }

    &:active{
      transform: scale(.9);
    }

    &.is-active{
      background-color: var(--primary-light);
      color: white;
      pointer-events: none;
    }
  }
}

/* DETAIL PAGE */
.breadcrumb{
  font-size: .8rem;
  display: flex;
  padding: 2rem 0;

  span{
    padding: 0 .5rem;
    opacity: .5;
  }
}
.breadcrumb a{
  text-decoration: none;
  color: #94a3b8;
}

.detalle{
  margin: 0 2rem;
  margin-bottom: 2rem;
}
.detalle__header{
  padding: 1rem 0;
}
.detalle__header-title{
  font-size: 2rem;
  font-weight: 500;
}
.detalle__header-subtitle{
  font-size: 1rem;
  font-weight: 300;
  opacity: .75;
}

.detalle__empresa{
  border-bottom: 1px solid var(--border);
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

.detalle__description-title,
.detalle__responsabilidades h3,
.detalle__requisitos h3,
.detalle__empresa h3{
  font-size: 1.5rem;
  padding: 1rem 0;
}
.detalle__description-info,
.detalle__empresa p{
  font-size: 1rem;
  font-weight: 300;
  opacity: .75;
  text-align: justify;
}


.detalle__responsabilidades li,
.detalle__requisitos li{
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;
  font-weight: 300;
  opacity: .75;
  line-height: 2.5rem;
}
.detalle__responsabilidades svg,
.detalle__requisitos svg{
  min-height: 1.5rem;
  min-width: 1.5rem;
  color: var(--primary-light);
}

.call-to-action{
  display: flex;
  justify-content: flex-end;
}